* {
    margin: 0 auto;
    padding: 0;
}
.header {
    background-color: #36bbfa;
    height: 75px;
    color: #fff;
}
.header .title{
    display: inline-block;
    height: 75px;
    top: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    position: absolute;
    line-height: 75px;
    font-size: 30px;
}

img.notification-img {
    margin-right: 8px;
    margin-left: 0px;
    padding: 0px;
    font-size: 0;
}
img.notification-img:last-child {
    margin-right: 0px;
}

.header .right-area {
    float: right;
    padding: 17px;
}
.header .right-area .span{
    text-align: right;
    margin-right: 8px;
    display: inline-block;
}
.header .right-area span{
    display: block;
    font-size: 13px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}
.container{
    width: 100%;
}
.container.body {
    margin-top: 20px;
}
.left-bar {
    width:255px;
    margin-left: 0px;
    color: #fff;
}
.left-bar span{
    display: block;
    line-height: 30px;
    background-color: #006db7;
    height: 30px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding-left: 12px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 500;
}
.main-list ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.main-list li {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 27px;
    background-color: #fbfbfb;
    border: 1px solid #e2e2e2;
    border-bottom: 0;
}
.main-list li ul li {
    border-left: 0px;
    border-right: 0px;
}
.main-list li:last-child {
    border-bottom: 1px solid #e2e2e2;
}
.main-list li ul li:last-child {
    border-bottom: 0px;
}
.main-list ul li a {
    display: block;
    color: #000;
    text-decoration: none;
}
.main-list li.active a {
    color: #006db7;
}
.main-list li a:hover {
    background-color: #c0ebff;
}
.main-list, .submenu {
    list-style: none;
    padding: 0;
    margin: 0;
}
.main-list a {
    display: block;
    text-decoration: none;
    color: #000;
    padding-left: 20px;
}
.main-list a:hover {
      background-color: #c0ebff;
}
  
.main-list li.active .submenu {
    display: block;
    max-height: 200px;
}
  
.submenu {
    overflow: hidden;
    max-height: 0;
    -webkit-transition: all 0.5s ease-out;
}
.logo{
    height: 75px;
    display: inline-block;
    width: 93px;
}
.avatar {
    border-radius: 38px;
    height: 38px;
}
.logo img {
    height: 63px;
    margin-top: 7px;
}

footer{
    height: 39px;
    text-align: center;
    bottom: 0;
    position: absolute;
    width: 100%;
    line-height: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 300;
    background-color: #eeeeee;

}

.top-navigation {
    box-shadow: inset 0 4px 0px -1px #36bbfa;
    box-sizing: border-box;
    border-bottom: 2px #006db7 solid;
    background-color: #eeeeee;
    height: 34px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.top-navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
.top-navigation li {
    float: left;
}
  
.top-navigation li a {
    font-weight: 300;
    display: block;
    color: #000;
    text-align: center;
    text-decoration: none;
    padding: 0px 12px;
    line-height: 34px;
}
.top-navigation li.active a {
    background-color: #006db7;
    color: #fff;
    font-weight: 500;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.top-navigation li a:hover {
    background-color: #006db7;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-weight: 500;
    color: #fff;
}
@media (min-width: 576px) {
    .container{
        max-width: 576px;
    }
}

@media (min-width: 768px) {
    .container{
        max-width: 768px;
    }
}

@media (min-width: 992px) {
    .container{
        max-width: 992px;
    }
}

@media (min-width: 1200px) {
    .container{
        max-width: 1200px;
    }
}