/* Default CSS */
* {
    margin: 0 auto;
    padding: 0;
}
html{ height:100%; }
body::after{ content:''; display:block; height:59px; }

body{
    position: relative;
    min-height: 100%;
    background-image: url(../images/bg.png);
    background-position: bottom right;
    background-size: 502px 600px;
    background-repeat: no-repeat;
    font-size: 0;
}

.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #7e7e7e;
    display: inline;
    float: right;
    margin: 11px;
}

.sub-ico {
    width: 7px;
    height: 2px;
    background: #000;
}

.sub-ico.position-list{
    display: inline-block;
    position: absolute;
    margin-top: 12px;
}

.plus-ico.position-list{
    display: inline-block;
    position: absolute;
    margin-top: 10px;
}

.plus-ico{
    background-image: url(/images/plus.png);
    width: 7px;
    height: 7px;
    background-size: cover;
}
.has_sub{
    position: relative;
}

.selectcus{
    margin-left: 15px;
    width: 150px;
    margin-right: 30px;
    height: 24px;
    border-radius: 5px;
}
/* Header area */
#header {
    background-color: #36bbfa;
    height: 75px;
    color: #fff;
}

#header .title{
    display: inline-block;
    height: 75px;
    top: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    position: absolute;
    line-height: 75px;
    font-size: 30px;
}

#header .right-area {
    float: right;
    padding: 17px 0px;
}
#header .right-area .span{
    text-align: right;
    margin-right: 8px;
    display: inline-block;
}
#header .right-area span{
    display: block;
    font-size: 13px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

/* Top menu */

.top-navigation {
    box-shadow: inset 0 4px 0px -1px #36bbfa;
    box-sizing: border-box;
    border-bottom: 2px #006db7 solid;
    background-color: #eeeeee;
    height: 34px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.top-navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
.top-navigation li {
    float: left;
}
  
.top-navigation li a {
    font-weight: 300;
    display: block;
    color: #000;
    text-align: center;
    text-decoration: none;
    padding: 0px 12px;
    line-height: 34px;
}
.top-navigation li.active a {
    background-color: #006db7;
    color: #fff;
    font-weight: 500;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.top-navigation li a:hover {
    background-color: #006db7;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-weight: 500;
    color: #fff;
}

/* Form Css */
.form-input {
    height: 20px;
    border-radius: 3px;
    background-color: #dddddd;
    border-style: solid;
    border-width: 1px;
    border-color: #d0d0d0;
    padding-left: 10px;
    margin-bottom: 12px;
    width: 140px;
    font-size: 13px;
    color: #000;
}

.form-label {
    font-size: 12px;
    font-weight: 500;
}

.form-select {
    height: 24px;
    width:200px;
    border-radius: 3px;
    background-color: #dddddd;
    border-style: solid;
    border-width: 1px;
    border-color: #d0d0d0;
    font-size: 13px;
    color: #000;
}

.select .options {
    max-height: 190px;
    overflow-y: scroll;
}

.btn {
    width: 87px;
    height: 24px;
    background-color: #006db7;
    color: #fff;
    border-radius: 5px;
    margin-left: 8px;
    margin-right: 14px;
}

.input-submit{
        width: 51px;
        height: 24px;
        background-color: #006db7;
        color: #fff;
        border-radius: 5px;
        cursor: pointer;
}

#add_attachment {
    line-height: 24px;
    text-align: center;
    margin-top: 10px;
    margin-left: 15px;
}
/* Content CRUD Area */

.content-crud .title{
    text-align: left;
    height: 36px;
    line-height: 36px;
    background-color: #36bbfa;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #fff;
    padding-left: 15px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.content-crud .main{
    padding: 25px 35px 20px 25px;
    background-color: #eeeded;
    border-radius: 4px;
    border: 1px solid #e5e5e5;
}


/* Custom select */

.s-hidden {
    visibility:hidden;
    padding-right:10px;
}
.select_s2 {
    cursor:pointer;
    display:inline-block;
    position:relative;
    color:black;
    border:1px solid #ccc;
    border-radius: 5px;
    font-size: 12px;
    margin-right: 30px;
    margin-left: 6px;
}
.styledSelect_s2 {
    position:absolute;
    border-radius: 5px;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color:#dddddd;
    padding:0 10px;
    font-weight:bold;
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
    margin-left: 0px;
}
.styledSelect_s2:after {
    content:"";
    width:0;
    height:0;
    border:5px solid transparent;
    border-color:black transparent transparent transparent;
    position:absolute;
    top:9px;
    right:6px;
}
.styledSelect_s2:active, .styledSelect_s2.active {
    background-color:#dddddd;
}

/* homepage css */
table.home-member-table tbody tr:hover{
    background-color: #dddddd;
    cursor: pointer;
}
/* Non Optimize */

#content {
    width: 100%;
    margin-left: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
}
#content .title-bar {
    height: 30px;
    background-color: #eeeeee;
    line-height: 30px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding-left: 12px;
}
#content .search-area {
    background: rgba(255,255,255,0.55);

    border: 1px solid #e2e2e2;
}
#content .search-area .content-area input{
    margin-left: 8px;
    margin-right: 14px;
}
#content .search-area .content-area select{
    margin-left: 15px;
    width: 250px;
    margin-right: 30px;
    height: 24px;
    border-radius: 5px;
}
#content .search-area .content-area{
    padding-left: 15px;
    padding-top: 15px;
}

  
  #content .search-area input[type="submit"] {
    width: 87px;
    height: 24px;
    background-color: #006db7;
    color: #fff;
    border-radius: 5px;
    margin-left: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#content .search-area input[type="text"].search-code {
    width: 122px;
    padding-left: 5px;
    height: 24px;
    border-radius: 5px;
    border: 1px solid #e2e2e2;
}

#content .search-area input[type="text"].search-fullname {
    width: 203px;
    height: 24px;
    border-radius: 5px;
    padding-left: 5px;
    border: 1px solid #e2e2e2;
}
#content .body {
    background-color: #fff;
    margin-top: 12px;
    border-radius: 5px;
    border: 1px solid #e2e2e2;
    padding: 8px;
    text-align: right;
}
#content .body table{
    border-collapse: collapse;
    width: 100%;
  }
  #content .body table thead{
    background-color: #36bbfa;
    border: none;
    color: #fff;
  }
  #content .body table thead td, th {
    border: none;
    font-weight: 500;
    text-align: center;
    padding: 0px 8px;
    height: 24px;
  }

  #content .body table td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 0px 8px;
    height: 24px;
  }
  
  #content .body table tr:nth-child(even) {
    background-color: #efefef;
  }
img.notification-img {
    margin-right: 8px;
    margin-left: 0px;
    padding: 0px;
    font-size: 0;
}
img.notification-img:last-child {
    margin-right: 0px;
}

.container{
    width: 100%;
}
.container.body {
    margin-top: 20px;
    display: flex;
}
.left-bar {
    width:333px;
    margin-left: 0px;
    color: #fff;
}

.left-bar span{
    display: block;
    line-height: 30px;
    background-color: #006db7;
    height: 30px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding-left: 12px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 500;
}
button.delete{
    background-color: #da251d;
    padding: 5px 10px;
    color: #fff;
    border-radius: 3px;
    margin-bottom: 10px;
    float:left;
    margin-left: 7px;
    font-size: 14px;
    font-weight: 500;
    border: none;
}
a.addnew{
    background-color: #006db7;
    padding: 4px 10px;
    color: #fff;
    border-radius: 3px;
    margin-bottom: 10px;
    float: left;
    text-decoration: none;
    margin: 0px 7px;
    font-size: 14px;
    font-weight: 500;
}
.main-list ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.main-list li {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 27px;
    background-color: #fbfbfb;
    border: 1px solid #e2e2e2;
    border-bottom: 0;
}
.main-list li ul li {
    border-left: 0px;
    border-right: 0px;
}
.main-list li:last-child {
    border-bottom: 1px solid #e2e2e2;
}
.main-list li ul li:last-child {
    border-bottom: 0px;
}
.main-list ul li a {
    display: block;
    color: #000;
    text-decoration: none;
}
.main-list li.active > a {
    color: #006db7;
    font-weight: 500;
}
.main-list, .submenu {
    list-style: none;
    padding: 0;
    margin: 0;
}
.main-list a {
    display: block;
    text-decoration: none;
    color: #000;
    padding-left: 20px;
}
  
.main-list li.active .submenu {
    display: block;
    max-height: 200px;
}
  
.submenu {
    overflow: hidden;
    max-height: 0;
    -webkit-transition: all 0.5s ease-out;
}
.logo{
    height: 75px;
    display: inline-block;
    width: 93px;
}
.avatar {
    border-radius: 38px;
    height: 38px;
}
.logo img {
    height: 63px;
    margin-top: 7px;
}

footer{ 
    position:absolute; 
    margin-top:20px;
    height: 39px;
    text-align: center;
    bottom: 0;
    width: 100%;
    line-height: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 300;
    background-color: #eeeeee;

}


.s-hidden {
    visibility:hidden;
    padding-right:10px;
}
.select {
    cursor:pointer;
    display:inline-block;
    position:relative;
    color:black;
    border:1px solid #ccc;
    margin-left: 15px;
    border-radius: 5px;
}
.styledSelect {
    position:absolute;
    border-radius: 5px;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color:white;
    padding:0 10px;
    font-weight:bold;
    font-size: 12px;
    font-weight: 300;
    line-height: 24px;
    margin-left: 0px;
}
.styledSelect:after {
    content:"";
    width:0;
    height:0;
    border:5px solid transparent;
    border-color:black transparent transparent transparent;
    position:absolute;
    top:9px;
    right:6px;
}
.styledSelect:active, .styledSelect.active {
    background-color:#eee;
}
.options {
    display:none;
    position:absolute;
    top:100%;
    right:0;
    left:0;
    z-index:999;
    margin:0 0;
    padding:0 0;
    list-style:none;
    border:1px solid #ccc;
    background-color:white;
    -webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
}
.options li {
    padding:0 6px;
    margin:0 0;
    padding:0 10px;
}
.options li:hover {
    background-color:#39f;
    color:white;
}

.pagination {
    list-style: none;
    display: inline-flex;
    margin-top: 12px;
    margin-bottom: 20px;
}
.pagination a {
    text-decoration: none;
    color: #000;
}
.pagination li{
    padding: 0px 5px;
}
.page-item.active{
    color: #d56e1e;
}
.left-bar .avatar-member
{
    border-radius: 4px;
    width: 222px;
    height: 330px;
    background-color: #efefef;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-align: center;
    color: #000;
    border: 1px solid #e5e5e5;
    margin-bottom: 40px;
}

.left-bar .avatar-member .name
{
    width: 222px;
    height: 42px;
    background-color: #e5e5e5;
    line-height: 42px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.content-member .title {
    text-align: left;
    height: 36px;
    line-height: 36px;
    background-color: #36bbfa;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color:#fff;
    padding-left: 15px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.content-member .content-body{
    padding: 25px 25px 20px 10px;
    background-color: #eeeded;
    border-radius: 4px;
    border: 1px solid #e5e5e5;
    font-size: 0px;
}
.attachment {
    margin-top: 15px;
    margin-bottom:23px;
    border-radius: 4px;
    border: 1px solid #e5e5e5;
    font-size: 12px;
    min-height: 66px;
    padding-bottom: 10px;
}
#attachlist span{
    margin: 10px 15px;
    display: inline-block;
}
.content-body label{
    font-size: 12px;
    font-weight:500;
}

.content-body .form-label{
    padding-right: 35px;
    display: inline-block;
    min-width: 45px;
}

.attachment .title{
    height: 26px;
    background-color: #ebebeb;
    line-height: 26px;
    padding-left: 10px;
}
.content-body .form-input {
    height:20px;
    border-radius:3px;
    background-color:#dddddd;
    border-style:solid;
    border-width:1px;
    border-color:#d0d0d0;
    padding-left: 5px;
    margin-bottom: 12px;
    margin-right: 25px;
  }
.content-body .input-x-large{
   width: 270px;
}
.content-body .input-large{
    width: 150px;
}
.content-body .input-x-medium{
    width: 114px;
    margin-right: 15px;
}
.content-body .input-x-medium.form-select.special{
    width: 135px;
}
.content-body .input-x-medium.last-item{
    margin-right: 0px;
}
.content-body .input-medium{
    width: 75px;
}
.content-body .form-select.input-large{
    margin-left: 5px;
    margin-right: 33px;
    width: 152px;
}
.content-body .ml-0{
    margin-left: 0px !important;
}
.content-body select.input-x-large.form-select {
    margin-left: 5px;
    width: 370px;
    margin-right: 26px;
}
.content-body select.input-large.form-select.block-members {
    width: 233px;
    margin-right: 0px;
}
.content-body select.input-medium.form-select.width-75{
    width: 75px;
    margin-left: 6px;
    margin-right: 30px;
}
.content-body input.form-input.input-large.special{
    width: 120px;
}
.content-body input.form-input.input-x-large.special{
    width: 294px;
    margin-right: 0px;
}
.content-body input.form-input.input-medium.join-date {
    margin-right: 0px;
    width: 108px;
}
.pr-0{
    padding-right: 0px !important;
}
  label.mini-label {
    font-size: 10px;
    font-weight: 300;
    position: absolute;
    margin-top: -13px;
}
.notification {
    margin-top: 10px;
    line-height: 30px;
    width: 500px;
}
.my-notify-error {
    padding: 0px 10px;
    color: #D8000C;
    font-size: 14px;
    background-color: #FFD2D2;
}

.my-notify-success {
    padding: 0px 10px;
    color: #00a508;
    font-size: 14px;
    background-color: rgb(214, 255, 210);
}

.change-pass-label{
    width: 180px;
    display: inline-block;
    margin-left: 0px;
}
.change-pass-login-input{
    width: 200px;
    padding: 4px;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
}
.group-login{
    margin: 10px;
}
.login-button{
    width: 120px;
    height: 24px;
    background-color: #006db7;
    color: #fff;
    border-radius: 5px;
}
@media (min-width: 576px) {
    .container{
        max-width: 576px;
    }
}

@media (min-width: 768px) {
    .container{
        max-width: 768px;
    }
}

@media (min-width: 992px) {
    .container{
        max-width: 992px;
    }
}

@media (min-width: 1200px) {
    .container{
        max-width: 1145px;
    }
}
.content-body .divider{
    margin-bottom: 13px;
}
.mt-10{
    margin-top: 10px;
}
.mb-15{
    margin-bottom: 15px;
}
.has-error{
    border-color: #ff0000 !important;
}